wheel==0.38.4
numpy==1.24.3
pandas==1.5.3
plotly==5.14.1
cmake==3.26.3
dlib-bin==19.24.0
face_recognition @ git+https://github.com/thetoby9944/face_recognition
streamlit==1.22.0
streamlit-option-menu==0.3.2
opencv-python-headless==4.7.0.72
Pillow==9.5.0
